<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jmeansjustice.hackday_final">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationTypeActivity" />
        <activity android:name=".LawerRegistrationActivity" />
        <activity android:name=".UserRegistrationActivity" />
        <activity
            android:name=".MainPageActivity"
            android:label="@string/title_activity_main_page" />
        <activity
            android:name=".Filter_activity"
            android:label="@string/title_activity_filter_activity" />
        <activity
            android:name=".PersonalPage"
            android:label="@string/title_activity_personal_page"/>
    </application>

</manifest>